.app-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

.welcome {
  text-align: center;
  color: rgb(120, 120, 120);
}

@media (max-width: 600px) {
  .send-btn,
  .clear-btn {
    padding: 3px;
    margin-left: 0;
    width: 50px;
  }

  .btn-text {
    display: none;
  }

  .btn-icon {
    display: inline;
    font-size: 16px;
    line-height: 1;
  }

  .chat-input-container {
    gap: 8px;
  }
}
